.shapkatable{
    background-color: #6699ff;
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    width: 800px;
    margin: auto;
    border-style:solid;
    border-width: 1px;
    border-color: #6699ff;
    vertical-align: middle;
}
img{
    border: none;
  }
.col1{
    width: 100px;
}
.contenttable{
    padding: 0;
    border-spacing: 0;
    border-collapse: separate;
    width: 800px;
    margin: auto;
    border-color: #6699ff;
    border-style: solid;
    border-width: 3px;
    background-color: #6699ff;
}
.tablecell{
    background-color: white;
}
body{
    font-family: Verdana;
    color: #06389e;
    background-color: #e6e6e6;
    margin-top: 0;
}
h2,h4{
    text-align: center;
    text-transform: uppercase;
    color: #494d56;
}
#shapka, #slogan{
    font-family: Arial;
    text-align: center;
    color: white;
    font-weight: bold;
}
#slogan{
    padding:5px 0 5px 0;
}
.foot{
    color: white;
    font-size: 0.6em;
    text-align: center;
    background-color: #6699ff;
    font-weight: 600;
    border-color: #6699ff;
    border-style: solid;
    border-width: 5px;
    
}
.foot a{
    text-decoration: none;
    color: white;
}
ul,.content{
    font-size: 0.7em;
}
ul{
    font-family: Tahoma;
    letter-spacing: 1px;
    line-height: 1.5em;
}
.content{
    padding: 10px 15px 10px 15px;
    text-align: justify;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.content a{
    text-decoration: none;
    color: #494d56;
    font-weight: bolder;
}
ol{
    font-size: 0.8em;
}
ol li a{
    color: gray;
}
h3{
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    color: #494d56;
}